build/**
Resources/*
modelRepo/*
pack/*

# Global model configurations
# !Resources/tray.png
# !Resources/config.json
# Test model
# !Resources/Hiyori


# GGML stuff
*.bin
*.gguf
*.wav
!test/data/*.wav
