[submodule "thirdParty/stb"]
	path = thirdParty/stb
	url = https://github.com/nothings/stb
[submodule "thirdParty/httplib.cpp"]
	path = thirdParty/httplib.cpp
	url = https://github.com/yhirose/cpp-httplib.git
[submodule "thirdParty/sv.cpp"]
	path = thirdParty/sv.cpp
	url = https://github.com/SSRVodka/sense-voice.cpp
[submodule "thirdParty/mcp.cpp"]
	path = thirdParty/mcp.cpp
	url = https://github.com/SSRVodka/mcp.cpp
